.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  &__backdrop {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translateX(120%);
    display: none;
    transition: var(--transition);
    opacity: 0;

    @include tablet {
      display: block;
    }

    &._active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    gap: 44px;
    z-index: 9;

    @include tablet {
      gap: 50px;
    }

    @include tablet {
      z-index: 9;
      position: fixed;
      width: 70%;
      height: 100%;
      flex-direction: column;
      left: 0;
      top: 0;
      background: var(--Primary-200);
      align-items: center;
      justify-content: center;
      transform: translateX(-120%);
      transition: var(--transition);
    }

    &._active {
      transform: translateX(0);
    }

    .icon-close {
      position: absolute;
      top: 40px;
      right: 40px;
      color: var(--c-text-white);
    }
  }
  &__btn {
    @include tablet {
      display: none;
    }
  }

  &__a {
    font: var(--Body_text_14);
    color: var(--Body-text);
    transition: var(--transition);

    &:hover {
      color: var(--Primary-200);
    }
    @include tablet {
      color: var(--c-text-white);
      font-size: 18px;
    }
  }
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;
  transition: opacity 0.8s;
  font-size: 35px;

  @include tablet {
    display: inline-block;
  }
}
.icon-menu {
  &._active {
    opacity: 0;
    pointer-events: none;
  }
}
