// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$mobile-sm: 390px;

:root {
  --ff: "Axiforma", sans-serif;
  --transition: 0.3s all ease-in-out;

  --c-primary: #0b8fed;
  --c-text-white: #fff;
  --c-border: #eee;

  --Secondary: #fff5f1;
  --Body-text: #666680;
  --Outline: #e8e8f6;
  --Outline-dark: #b0b0c0;
  --Grayscale-Line: #eff0f6;
  --Background---White: #fff;
  --Background---Dark: #f8fafe;
  --Primary-200: #524fd5;
  --Text-Primary: #181b32;
  --Outline-dark: #b0b0c0;

  --Body_text_14: 300 14px/24px var(--ff);
  --Body_text_18: 300 18px/190% var(--ff);
  --Button-send: 700 18px/normal var(--ff);

  --Button: 700 14px/28px var(--ff);

  --H1: 300 56px/126% var(--ff);
  --H2: 300 48px/130% var(--ff);
  --H3: 700 32px/112.5% var(--ff);
  --H4: 500 24px/180% var(--ff);
  --H5: 500 24px/150% var(--ff);
  --Subtitle_1: 700 18px/190% var(--ff);
  --Subtitle_2: 600 16px/150% var(--ff);
  --Caption: 300 12px/200% var(--ff);

  @media screen and (max-width: 992px) {
    --Body_text_14: 300 14rem/24rem var(--ff);
    --Body_text_18: 300 18rem/190% var(--ff);
    --Button: 700 14rem/28rem var(--ff);
    --H1: 300 40rem/126% var(--ff);
    --H2: 300 35rem/130% var(--ff);
    --H3: 700 28rem/112.5% var(--ff);
    --H4: 300 20rem/180% var(--ff);
    --H5: 500 20rem/150% var(--ff);
    --Subtitle_1: 700 18rem/190% var(--ff);
    --Subtitle_2: 600 16rem/150% var(--ff);
    --Caption: 300 12rem/200% var(--ff);
  }
}
