.common {
  @include tablet {
    text-align: center;
  }

  &__more {
    color: var(--Outline-dark);
    font: var(--Subtitle_1);
    text-transform: uppercase;
  }

  &__title {
    color: var(--Text-Primary);
    font: var(--H2);
    margin-bottom: 43px;
  }
}
.accordion-container {
  display: flex;
  justify-content: center;
  gap: 20rem;

  @media screen and (max-width: 1300px) {
    display: grid;
  }

  @include tablet {
    gap: 10rem;
  }
}

.accordion {
  display: grid;
  gap: 20rem;
  @include tablet {
    justify-content: center;
    align-items: center;

    gap: 10rem;
  }
}

.accordion-item {
  border-radius: 40px;
  width: 610rem;
  height: 108rem;
  position: relative;
  @include tablet {
    width: 450rem;
  }

  &.active {
    border-radius: 40px 40px 0 0;
    background: var(--Primary-200);
  }
}

.accordion-title {
  color: var(--Text-Primary);
  font-feature-settings: "clig" off, "liga" off;
  font: var(--Title_Accor);
  display: grid;
  justify-content: center;
  align-items: center;

  &.active {
    color: var(--c-text-white);
  }
}
.accordion-header {
  border-radius: 40px;
  border: 1px solid rgba(176, 176, 192, 0.3);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 36rem 32rem 36rem 56rem;

  @include tablet {
    padding: 20rem 15rem 20rem 39rem;
  }
  &.active {
    border: 1px solid transparent;
    padding: 36rem 32rem 0 56rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: 20rem 18rem 0 56rem;
    }
  }

  &__minus {
    display: none;

    &.active {
      display: block;

      @include tablet {
        max-width: 34rem;
        max-height: 34rem;
      }
    }
  }

  &__plus {
    @include tablet {
      max-width: 34rem;
      max-height: 34rem;
    }
    &.active {
      display: none;
    }
  }
}

.accordion-content {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 10;
  border-radius: 0 0 40px 40px;
  background: var(--Primary-200);

  transition: max-height 0.3s ease-in-out;

  padding: 0 36rem 36rem 56rem;
  width: 610rem;
  top: 80rem;

  @include tablet {
    top: 55px;
    width: 450rem;

    padding: 0px 36rem 10rem 56rem;
  }

  &__desc {
    color: var(--c-text-white);
    font: var(--Body_text_18);
    opacity: 0.7;
    max-width: 492rem;

    @media screen and (max-width: 1300px) {
      max-width: none;
    }
  }
}
