.get {
  margin-top: 240rem;
  @include tablet {
    margin-top: 130rem;
  }
  &__title {
    color: var(--Text-Primary);
    font: var(--H2);
    text-align: center;
    margin-bottom: 32rem;
  }

  &__desc {
    color: var(--Body-text);
    text-align: center;
    font: var(--Body_text_18);
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
    gap: 20px;
  }

  &__input {
    width: 410px;
    padding: 15px 45.97px 15px 33.545px;
    border-radius: 73px;
    background: #f8fafe;
    outline: none;
    border: 0;
    font: var(--Body_text_18);

    display: flex;
    align-items: center;

    @include tablet {
      max-width: 350rem;
    }

    &::placeholder {
      color: var(--Outline-dark);
      font: var(--Body_text_18);
    }
  }
}
