.teachers {
  margin-top: 240rem;
  margin-bottom: 241rem;
  @include mobile {
    margin-top: 120rem;
    margin-bottom: 120rem;
  }
  &__key {
    color: var(--Outline-dark);
    font: var(--Subtitle_1);
    text-transform: uppercase;

    @include mobile {
      text-align: center;
    }
  }
  &__meet {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      display: grid;
      justify-content: center;
    }
  }

  &__swiper-btn {
    display: flex;

    @include mobile {
      justify-content: center;
      margin-top: 20px;
    }
  }
  &__title {
    margin-top: 4px;
    color: var(--Text-Primary);
    font: var(--H2);
  }

  &__prev {
    width: 56rem;
    height: 56rem;
    border-radius: 40px;
    border: 1px solid var(--Outline);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-right: 30rem;
    cursor: pointer;
  }
  &__next {
    width: 56rem;
    height: 56rem;
    border-radius: 40px;
    background: var(--Primary-200);
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .material-icons {
    &.left {
      color: var(--Outline);
    }
    &.right {
      color: var(--Grayscale-Line);
    }
  }
}

.swiper-teachers {
  margin-top: 59px;
  border-radius: 55rem 55rem 0 0;
}

.swiper-slide {
  display: grid;
  justify-content: center;
  &__name {
    margin-top: 40px;
    margin-bottom: 16px;
    color: var(--Text-Primary);
    font-feature-settings: "clig" off, "liga" off;
    font: var(--H5);
  }

  &__language-info {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      width: 34px;
      height: 34px;
    }
  }

  &__language {
    padding-top: 6px;
    color: var(--Body-text);
    font: var(--Body_text_18);
  }
}
.wiper-slide {
  &__img {
    max-width: 366rem;
    max-height: 417rem;
    border-radius: 55rem;
  }
}

.swiper-teachers .swiper-slide {
  display: grid;
  justify-content: center;
}
